<app-top-banner-portfolio></app-top-banner-portfolio>

<section class="section section-bg-left-img">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-center">
        <img
          src="assets/images/portfolio/betawinz-responcive-mockup.png"
          alt="betawinz responcive mockup"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 client-details">
        <img src="assets/images/portfolio/Betawinz-logo.png"
        width="200"
        class="client-logo"
        alt="">
        <h3>Betawinz Holdings (pvt) ltd.</h3>
        <h6>Static Website</h6>
        <p>
          Use Price Kaki to compare prices of groceries, household items,
          and hawker food and discover new alternatives!
        </p>
        <button class="v-btn vooral-btn-round">Visit Site</button>
      </div>
    </div>
  </div>
</section>


<section class="section section-bg-right-img">
  <div class="container-fluid">
    <div class="row">
       <div class="col-md-6 client-details pl-20">
        <img src="assets/images/portfolio/Betawinz-logo.png"
        width="200"
        class="client-logo"
        alt="">
        <h3>Betawinz Holdings (pvt) ltd.</h3>
        <h6>Static Website</h6>
        <p>
          Use Price Kaki to compare prices of groceries, household items,
          and hawker food and discover new alternatives!
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="assets/images/portfolio/betawinz-responcive-mockup.png"
          alt="betawinz responcive mockup"
          class="img-fluid"
        />
      </div>

    </div>
  </div>
</section>


<section class="section section-bg-left-img">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-center">
        <img
          src="assets/images/portfolio/betawinz-responcive-mockup.png"
          alt="betawinz responcive mockup"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 client-details">
        <img src="assets/images/portfolio/Betawinz-logo.png"
        width="200"
        class="client-logo"
        alt="">
        <h3>Betawinz Holdings (pvt) ltd.</h3>
        <h6>Static Website</h6>
        <p>
          Use Price Kaki to compare prices of groceries, household items,
          and hawker food and discover new alternatives!
        </p>
      </div>
    </div>
  </div>
</section>
