<div class="section-bg my-5 py-lg-5">
  <div class="d-block d-md-flex justify-content-around">
    <div class="col-md-5 col-sm-6">
      <div class="row m-0">
        <div class="col-lg-12 mt-lg-5 pt-lg-3 pr-lg-1">
          <div class="row justify-content-lg-end m-0 p-0">
            <div class="col-lg-6 section--slider">
              <h1 class="section-title">Customer</h1>
              <h1 class="section-title">stories</h1>
              <hr class="separator separator-center" />
              <div class="section-title-border margin-t-20"></div>
              <p class="section-subtitle text-left">
                Real stories, amazing people. Hear from our customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-sm-6">
      <owl-carousel-o [options]="custom1Options" id="casestudies">
        <ng-container *ngFor="let item of carouselData">
          <ng-template carouselSlide>
            <div class="slide">
              <div class="card-1">
                <div
                  class="text-white text-area"
                >
                  <div class="py-5 px-4">
                    <h3 class="card-title pt-2">
                      {{ item.quotes }}
                    </h3>

                    <p class="user-name">
                      {{ item.name }}
                    </p>

                    <p class="position">
                      {{ item.position }}
                    </p>

                    <img [src]="item.logo" class="logo" />

                  </div>
                  <div
                    class="image-section"
                    style="
                      background-image: url('{{ item.image }}');
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                    "
                  >
                </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
