<app-top-banner-contact-us></app-top-banner-contact-us>


<div class="container-custom mt-50">

  <div class="row">

    <div class="col-md-4 col-lg-4 col-sm-6 steper px-5">

      <p class="h2 text-center how-its-work">How it Works?</p>

      <!-- Stepper hear -->

      <div class="row">
        <div class="col-md-12">

          <ul class="stepper stepper-vertical">

            <!-- First Step -->
            <li class="active">
              <a>
                <span class="circle">1</span>
                <span class="label">Receiving an Enquiry</span>
              </a>

              <div class="step-content grey lighten-3">
                <p> Send us your project requirements in detail by filling up the enquiry form
                </p>

              </div>

            </li>

            <!-- Second Step -->
            <li class="active">

              <a>
                <span class="circle">2</span>
                <span class="label">Analyzing the Requirements</span>
              </a>

              <div class="step-content grey lighten-3">
                <p>Our project specialists will meticulously analyze all the project details and get in touch with you
                </p>
              </div>
            </li>

            <!-- Third Step -->
            <li class="active">
              <a>
                <span class="circle">3</span>
                <span class="label">Sending Project Proposal</span>
              </a>
              <div class="step-content grey lighten-3">
                <p>Based on project requirements, a proposal with estimated price details and project plan will be shared
                </p>
              </div>
            </li>

            <!-- Fourth Step -->
            <li class="active">
              <a>
                <span class="circle">4</span>
                <span class="label">Starting the project</span>
              </a>
              <div class="step-content grey lighten-3">
                <p>A dedicated team will be formed and commence with your project development immediately
                </p>
              </div>
            </li>

          </ul>

        </div>
      </div>

    </div>

    <div class="col-md-8 col-lg-8 col-sm-6">

      <div class="morepadding form pt-5 px-5">

        <p class="text-center h2">Get Your FREE Quotation</p> <br>

        <app-quotation-form></app-quotation-form>

      </div>

    </div>

  </div>

</div>

<app-customer-stories></app-customer-stories>
