<section class="section section-bg mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1">
        <div class="features-box mt-lg-0">
          <h3 class="title">Programming & Tech Services</h3>

          <hr class="separator" />

          <div class="d-flex mb-5">
            <div class="col-md-6">
              <span class="my-1 d-block">
                <i class="mr-2 fab fa-wordpress-simple"></i> Wordpress Websites
              </span>
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-mobile-alt"></i> Mobile Applications
              </span>
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-cloud"></i> Cloud Applications
              </span>
            </div>
            <div class="col-md-6">
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-desktop"></i> Static Websits
              </span>
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-palette"></i> UI/UX
              </span>
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-laptop-code"></i> Web Applicationss
              </span>
            </div>
          </div>
        </div>

        <button class="v-btn vooral-btn-round" routerLink="/our-services">
          View Our Services & Support
        </button>
      </div>

      <div class="col-lg-6 order-2 d-none d-lg-block">
        <div class="features-img ml-lg-0">
          <img src="assets/images/2.png" alt="server image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section section-light mt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2">
        <div class="features-box">
          <h3 class="title">Graphics & Design Services</h3>

          <hr class="separator" />

         <div class="d-flex mb-5">
            <div class="col-md-6">
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-dragon"></i> Logo Design
              </span>
              <span class="my-1 d-block">
                <i class="mr-2 fab fa-instagram"></i> Social Media Design
              </span>
               <span class="my-1 d-block">
                <i class="mr-2 fas fa-pen-nib"></i> Illustration
              </span>
            </div>
            <div class="col-md-6">
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-desktop"></i> Web Banners
              </span>
              <span class="my-1 d-block">
                <i class="mr-2 fab fa-codepen"></i> 3d Modeling
              </span>
               <span class="my-1 d-block">
                <i class="mr-2 fas fa-paint-brush"></i> UI Design
              </span>
            </div>
          </div>

        </div>

        <button class="v-btn vooral-btn-round" routerLink="/our-services">
          View Our Services & Support
        </button>
      </div>

      <div class="col-lg-6 order-1 d-none d-lg-block">
        <div class="features-img ml-lg-0">
          <img src="assets/images/m0059_10.jpg" alt="server image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section section-bg mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1">
        <div class="features-box">
          <h3 class="title">Digital Marketing & Advertising Services</h3>

          <hr class="separator" />

          <div class="d-flex mb-5">
            <div class="col-md-6">
              <span class="my-1 d-block">
                <i class="mr-2 fab fa-facebook-f"></i> Social Media
                Handling
              </span>
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-pastafarianism"></i> Animation Video
              </span>
            </div>
            <div class="col-md-6">
              <span class="my-1 d-block">
                <i class="mr-2 fab fa-searchengin"></i> Search Engine Optimization
              </span>
              <span class="my-1 d-block">
                <i class="mr-2 fas fa-ad"></i> Social Media Advertising
              </span>
            </div>
          </div>

        </div>

        <button class="v-btn vooral-btn-round" routerLink="/our-services">
          View Our Services & Support
        </button>
      </div>

      <div class="col-lg-6 order-2 d-none d-lg-block">
        <div class="features-img ml-lg-0">
          <img src="assets/images/2.png" alt="server image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
