<section class="section section-bg" id="features">

  <div class="container">

    <div class="row ">

      <div class="col-lg-6 order-2 order-lg-2">

        <div class="features-box mt-5 mt-lg-0">

          <h3 class="title">Achieve Your Dreams With VooralIT</h3>

           <hr class="separator" />

          <p class="text-muted web-desc">
            Our software solutions are connected with hi-technical
            developing technologies through experienced developers
            and our solutions are uncommon, with user friendly &
            effective interfaces,
            and highly responsive to chasing your motive.
          </p>

        </div>

        <button class="v-btn vooral-btn-round" routerLink="/our-services"> View Our Services & Support</button>

      </div>

      <div class="col-lg-6 order-1 order-lg-1">

        <div class="features-img ml-lg-0">

          <img src="assets/images/2.png" alt="server image" class="img-fluid">

        </div>

      </div>

    </div>

  </div>

</section>
