<section class="section section-bg">
  <div class="container">
    <h2 class="text-center">We have a solution for your industry</h2>
    <hr class="separator separator--center move-up" />

    <div class="d-lg-flex boxes flex-wrap justify-content-between">

      <div
        class="mt-lg-5 mt-4 tile gradient-border u-text-center tile--quarter background-white-opacity-light tile--border-none"
      >

        <div class="text-section">
          <p class="icon-image">
          <i class=" fas fa-shopping-cart"></i>
        </p>
          <p class="title">E-commerce & retail</p>
          <p class="link">
            <a>Learn more</a>
          </p>
        </div>
      </div>

      <div
        class="mt-lg-5 mt-4 tile gradient-border u-text-center tile--quarter background-white-opacity-light tile--border-none"
      >
        <div class="icon-image">
          <i class="fas fa-briefcase-medical"></i>
        </div>
        <div class="text-section">
          <p class="title">Healthcare</p>
          <p class="link">
            <a>Learn more</a>
          </p>
        </div>
      </div>

      <div
        class="mt-lg-5 mt-4 tile gradient-border u-text-center tile--quarter background-white-opacity-light tile--border-none"
      >
        <div class="icon-image">
          <i class="fas fa-toolbox"></i>
        </div>
        <div class="text-section">
          <p class="title">Manufacturing</p>
          <p class="link">
            <a>Learn more</a>
          </p>
        </div>
      </div>

      <div
        class="mt-lg-5 mt-4 tile gradient-border u-text-center tile--quarter background-white-opacity-light tile--border-none"
      >
        <div class="icon-image">
          <i class="far fa-money-bill-alt"></i>
        </div>
        <div class="text-section">
          <p class="title">Financial services</p>
          <p class="link">
            <a>Learn more</a>
          </p>
        </div>
      </div>

      <div
        class="mt-lg-5 mt-4 tile gradient-border u-text-center tile--quarter background-white-opacity-light tile--border-none"
      >
        <div class="icon-image">
          <i class="fas fa-truck-loading"></i>
        </div>
        <div class="text-section">
          <p class="title">Logistics</p>
          <p class="link">
            <a>Learn more</a>
          </p>
        </div>
      </div>

      <div
        class="mt-lg-5 mt-4 tile gradient-border u-text-center tile--quarter background-white-opacity-light tile--border-none"
      >
        <div class="icon-image">
          <i class="fas fa-school"></i>
        </div>
        <div class="text-section">
          <p class="title">Education</p>
          <p class="link">
            <a>Learn more</a>
          </p>
        </div>
      </div>

       <div
        class="mt-lg-5 mt-4 tile gradient-border u-text-center tile--quarter background-white-opacity-light tile--border-none"
      >
        <div class="icon-image">
          <i class="fas fa-store"></i>
        </div>
        <div class="text-section">
          <p class="title">Bussiness</p>
          <p class="link">
            <a>Learn more</a>
          </p>
        </div>
      </div>

       <div
        class="mt-lg-5 mt-4 tile gradient-border u-text-center tile--quarter background-white-opacity-light tile--border-none"
      >
        <div class="icon-image">
          <i class="fab fa-tripadvisor"></i>
        </div>
        <div class="text-section">
          <p class="title">Hospitality</p>
          <p class="link">
            <a>Learn more</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
