<app-top-banner-ourservices></app-top-banner-ourservices>

<section class="section section-bg">
  <h2 class="text-center">Progrmming & Tech Services</h2>
  <hr class="separator separator--center move-up" />

  <div class="pt-5 container-custom">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center">
          <h3>Static Websites</h3>
          <p>
            Static web pages are simple page web pages which use to show content
            to the user. We can interact with user by using static web pages but
            we can use them to stand out our business by using as a promoting
            web site.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/html.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/css.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/js.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Web Applications</h3>
          <p>
            Web applications are dynamic websites. It interact with your
            customer by using communication methods. You all can use this kind
            of web pages to do online business and such a online connective
            works.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/services_providers/laravel.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/services_providers/angular.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>E-Commerce</h3>
          <p>
            E-commerce is buying or selling of products over the Internet. This
            is the most upcoming technology in the business world. Because of
            E-commerce technologies, transactions and inventory management are
            more efficient than ever.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/services_providers/payhere.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/services_providers/paypal.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/strip.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Cloud Services</h3>
          <p>
            A cloud service is any service made available to users on demand via
            the Internet. Cloud services are designed to provide easy, scalable
            access to applications, resources and services, and they are fully
            managed by a cloud services providers.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/services_providers/google-cloud.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/services_providers/aws.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/services_providers/digital-orcen.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>REST full APIs</h3>
          <p>
            A RESTful API (RESTful web service) is based on representational
            state transfer (REST) technology, an architectural style and
            approach to communications often used in web services development.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/jwt-1.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/grapql.png"
              class="d-block"
              height="25"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Mobile Applications</h3>
          <p>
            We have experienced developers to develop Both Android and IOS
            version mobile applications as you wish. Our developers will develop
            your requested application as much efficient as you wish and it will
            never disappoint you.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/apple.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/services_providers/flutter.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/services_providers/ionic.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/android.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Wordpress Websites</h3>
          <p>
            WordPress is a free and open-source content management system
            written in PHP and paired with a MySQL or MariaDB database. Features
            include a plugin architecture and a template system, referred to
            within WordPress as Themes.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/services_providers/wordpress.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Custom Softwares</h3>
          <p>
            We have specialized development team to designing, building,
            integrating, fully automated, cross platform software solutions to
            address the pressing needs, your goals and achieve objectives of
            your specific business process.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/electronjs.png"
              class="d-block"
              height="25"
              width="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-bg-2 pt-5">
  <h2 class="text-center">Graphics & Design Services</h2>
  <hr class="separator separator--center move-up" />

  <div class="pt-5 container-custom">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center">
          <h3>Logo Design</h3>
          <p>
            Static web pages are simple page web pages which use to show content
            to the user. We can interact with user by using static web pages but
            we can use them to stand out our business by using as a promoting
            web site.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/photoshop-1.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/illustrator.jpeg"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Web Banners Design</h3>
          <p>
            Web applications are dynamic websites. It interact with your
            customer by using communication methods. You all can use this kind
            of web pages to do online business and such a online connective
            works.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/photoshop-1.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/illustrator.jpeg"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Social Media Design</h3>
          <p>
            E-commerce is buying or selling of products over the Internet. This
            is the most upcoming technology in the business world. Because of
            E-commerce technologies, transactions and inventory management are
            more efficient than ever.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/photoshop-1.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/illustrator.jpeg"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Illustration</h3>
          <p>
            A cloud service is any service made available to users on demand via
            the Internet. Cloud services are designed to provide easy, scalable
            access to applications, resources and services, and they are fully
            managed by a cloud services providers.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/photoshop-1.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/illustrator.jpeg"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>3d Modeling</h3>
          <p>
            A RESTful API (RESTful web service) is based on representational
            state transfer (REST) technology, an architectural style and
            approach to communications often used in web services development.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/blender.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>UI Design</h3>
          <p>
            We have experienced developers to develop Both Android and IOS
            version mobile applications as you wish. Our developers will develop
            your requested application as much efficient as you wish and it will
            never disappoint you.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/photoshop-1.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/xd.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Animation Video</h3>
          <p>
            WordPress is a free and open-source content management system
            written in PHP and paired with a MySQL or MariaDB database. Features
            include a plugin architecture and a template system, referred to
            within WordPress as Themes.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/premiere-pro.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/after-effects.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Video Creation</h3>
          <p>
            We have specialized development team to designing, building,
            integrating, fully automated, cross platform software solutions to
            address the pressing needs, your goals and achieve objectives of
            your specific business process.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/premiere-pro.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/after-effects.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-bg-3 pt-5">
  <h2 class="text-center">Digital Marketing & Advertising Services</h2>
  <hr class="separator separator--center move-up" />

  <div class="pt-5 container-custom">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center">
          <h3>Social Media Handling</h3>
          <p>
            Static web pages are simple page web pages which use to show content
            to the user. We can interact with user by using static web pages but
            we can use them to stand out our business by using as a promoting
            web site.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/facebook.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/instagram.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/youtube.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Search Engine Optimization</h3>
          <p>
            Web applications are dynamic websites. It interact with your
            customer by using communication methods. You all can use this kind
            of web pages to do online business and such a online connective
            works.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/moz.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/google.png"
              class="d-block"
              height="25"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Social Media Advertising</h3>
          <p>
            E-commerce is buying or selling of products over the Internet. This
            is the most upcoming technology in the business world. Because of
            E-commerce technologies, transactions and inventory management are
            more efficient than ever.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/facebook.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/instagram.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/google-ads.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center">
          <h3>Marketing Campaigns</h3>
          <p>
            E-commerce is buying or selling of products over the Internet. This
            is the most upcoming technology in the business world. Because of
            E-commerce technologies, transactions and inventory management are
            more efficient than ever.
          </p>
          <hr class="separator-full separator--center" />
          <div class="d-flex justify-content-around">
            <img
              src="assets/images/technologies/facebook.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/instagram.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/google-ads.png"
              class="d-block"
              height="30"
              width="auto"
            />
            <img
              src="assets/images/technologies/youtube.png"
              class="d-block"
              height="30"
              width="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-features></app-features>
