<section class="section-sm bg-light">
  <div class="text-center mb-5">
    <h2 class="title">Our Service Providers & Partners</h2>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-6 col-sm-4 mb-sm-4 col-md-4 mb-md-4 col-lg-2">
        <img
          src="assets/images/services_providers/aws.png"
          alt="logo-img"
          width="auto"
          height="45"
        />
      </div>
      <div class="col-6 col-sm-4 mb-sm-4 col-md-4 mb-md-4 col-lg-2">
        <img
          src="assets/images/services_providers/google-cloud.png"
          alt="logo-img"
          width="auto"
          height="45"
        />
      </div>
      <div class="col-6 col-sm-4 mb-sm-4 col-md-4 mb-md-4 col-lg-2">
        <img
          src="assets/images/services_providers/digital-orcen.png"
          alt="logo-img"
          width="auto"
          height="45"
        />
      </div>
      <div class="col-6 col-sm-4 mb-sm-4 col-md-4 mb-md-4 col-lg-2">
        <img
          src="assets/images/services_providers/payhere.png"
          alt="logo-img"
          width="auto"
          height="45"
        />
      </div>
      <div class="col-6 col-sm-4 mb-sm-4 col-md-4 mb-md-4 col-lg-2">
        <img
          src="assets/images/services_providers/paypal.png"
          alt="logo-img"
          width="auto"
          height="45"
        />
      </div>
      <div class="col-6 col-sm-4 mb-sm-4 col-md-4 mb-md-4 col-lg-2">
        <img
          src="assets/images/services_providers/litespeed.png"
          alt="logo-img"
          width="auto"
          height="45"
        />
      </div>
    </div>
  </div>
</section>
