<section class="section-sm bg-light">

  <div class="text-center mb-5">
    <h2 class="title">
      Our Service Providers & Partners
    </h2>
  </div>

  <div class="px-5 mx-5">
    <div class="mx-5">

      <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
          <div class="slide">
            <div class="card-o">
              <div class="client-images my-3 my-md-0">
                <img
                  src="assets/images/services_providers/aws.png"
                  alt="logo-img"
                  class="mx-auto img-fluid d-block"
                />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide">
            <div class="card-o">
              <div class="client-images my-3 my-md-0">
                <img
                  src="assets/images/services_providers/google-cloud.png"
                  alt="logo-img"
                  class="mx-auto img-fluid d-block"
                />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide">
            <div class="card-o">
              <div class="client-images my-3 my-md-0">
                <img
                  src="assets/images/services_providers/digital-orcen.png"
                  alt="logo-img"
                  class="mx-auto img-fluid d-block"
                />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide">
            <div class="card-o">
              <div class="client-images my-3 my-md-0">
                <img
                  src="assets/images/services_providers/litespeed.png"
                  alt="logo-img"
                  class="mx-auto img-fluid d-block"
                />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide">
            <div class="card-o">
              <div class="client-images my-3 my-md-0">
                <img
                  src="assets/images/services_providers/payhere.png"
                  alt="logo-img"
                  class="mx-auto img-fluid d-block"
                />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide">
            <div class="card-o">
              <div class="client-images my-3 my-md-0">
                <img
                  src="assets/images/services_providers/paypal.png"
                  alt="logo-img"
                  class="mx-auto img-fluid d-block"
                />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide">
            <div class="card-o">
              <div class="client-images my-3 my-md-0">
                <img
                  src="assets/images/services_providers/wordpress.png"
                  alt="logo-img"
                  class="mx-auto img-fluid d-block"
                />
              </div>
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>

    </div>

  </div>

</section>
