/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// theam

$color_gradient:linear-gradient(90deg, #2583ee, #712f90);

.vooral-btn {
  color: #fff;
  background-image: linear-gradient(120deg, #2583ee 25%, #712f90 75%);
  background-color: transparent;
  background-size: 200% 100%;
  background-position: 50%;
  transition: background-position .1s
}

.vooral-btn-round {
color: #fff;
background-image: linear-gradient(120deg, #2583ee 25%, #712f90 75%);
background-color: transparent;
background-size: 200% 100%;
background-position: 50%;
transition: background-position .1s;
border-radius: 20px;
}

.v-btn {
  font-family: 'Montserrat',
  Arial,
  sans-serif;
  display: inline-block;
  white-space: nowrap;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.875rem;
  text-decoration: none;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.v-btn:focus {
  outline: none;
}
