<app-top-banner> </app-top-banner>

<app-writtingwords-section
  title='We make your business'
  valus='Optimized,faster,efficient,reliable'>
</app-writtingwords-section>


<app-we-havesolution-banner></app-we-havesolution-banner>

<app-our-products></app-our-products>

<app-features></app-features>
<!-- <app-dark-product-banner></app-dark-product-banner> -->
<!-- <app-mid-banner></app-mid-banner> -->

<app-customer-stories></app-customer-stories>

<app-services></app-services>



<app-service-providers></app-service-providers>


