 <footer class="site-footer">
    <div class="container-fluid px-container">
      <div class="row">

        <div class="col-sm-12 col-md-4">
          <h6>About</h6>
          <p class="text-justify">
           We are a small, hard-working result drive wonderful
           team to connect together with the objective
           to do revolution in web development field.
           We all are ready to make your motive reality.
          </p>
        </div>

        <div class="col-xs-6 col-md-2">
          <h6>Programming</h6>
          <ul class="footer-links">
            <li><a href="#">Wordpress Website</a></li>
            <li><a href="#">UI / UX</a></li>
            <li><a href="#">Static Website</a></li>
            <li><a href="#">Cloud Web Application</a></li>
            <li><a href="#">Mobile Application</a></li>
            <li><a href="#">Progressive Web Application</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-2">
            <h6>Graphics and Design</h6>
            <ul class="footer-links">
              <li><a href="#">Logo Design</a></li>
              <li><a href="#">Social Media Design</a></li>
              <li><a href="#">Illustration</a></li>
              <li><a href="#">Web Basnner</a></li>
              <li><a href="#">Web and Mobile Design</a></li>
              <li><a href="#">Web Banners</a></li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-2">
            <h6>Digital Marketing</h6>
            <ul class="footer-links">
              <li><a href="#">Social Media Marketing</a></li>
              <li><a href="#">Animation Video Marketing</a></li>
              <li><a href="#">Social Media Advertising</a></li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-2">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Delivery Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
          </ul>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text mt-2">Copyright &copy; 2020 All Rights Reserved by
       <a href="http://vooralit.com">Vooralit.com</a>
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
